* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-gray;
  color: $black;
  font-family: $font-fam;
  font-size: .999rem;
}

.main-wrapper{
  margin: 0 auto;
  padding: 3% 4%;
  width: 92%;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 auto;
    max-width: 700px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  @media (min-width: $breakpoint-laptop) {
    max-width: 960px;
  }
  @media (min-width: $breakpoint-desktop) {
    max-width: 1000px;
    padding: 5%;
  }
}

p {
  line-height: 28px;
  margin-top: .8rem;
}

img {
  height: auto;
  width: 100%;
}

li {
  list-style: none;
}

footer {
  font-size: .8rem;
  font-weight: 100;
  text-align: center;
}

