@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,600,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Adamina&display=swap');

$white: #ffffff;
$black: #1d1d1d;
$light-gray: #fafafa;
$dark-green: #044638;
$light-cream: #fbf3e6;
$dark-cream: #ead5c2;

$font-fam: 'Montserrat', sans-serif;
$font-title: 'Adamina', serif;
$ligter-size: 300;

$breakpoint-desktop: 1440px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-movile: 576px;
