.wrapper-about {
  padding: 10% 0;
  @media (min-width: $breakpoint-laptop) {
    padding-top: 5%;
  }
}

.about--info {
  margin: 3%;
  width: 95%;

  @media (min-width: $breakpoint-laptop) {
    width: 50%
  }
}

.about--skills {
  margin-top: 15%;
  padding-left: 3%;
  
  @media (min-width: $breakpoint-laptop) {
    margin-top: 5%;
  }
}

.skills__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 3%;

  @media (min-width: $breakpoint-laptop) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}

.skills__title {
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.skill--item {
  margin-top: 3%;
  width: 80%;

  @media (min-width: $breakpoint-laptop) {
    margin: 2e;
    width: 27%;
  }
}

.skill__item-1, .skill__item-3 {
  align-self: flex-start;
  text-align: left;
}

.skill__item-2 {
  align-self: flex-end;
  text-align: right;

  @media (min-width: $breakpoint-laptop) {
    align-self: auto;
    text-align: left;
  }
}
