.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;

  @media (min-width: $breakpoint-laptop) {
    padding: .5rem 0;
  }
}

.header__logo {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.header-nav {
  align-self: center;
  width: 80%;
  @media (min-width: $breakpoint-laptop) {
    width: 60%
  }
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-nav__item {
  @media (min-width: $breakpoint-tablet) {
    margin-left: 15%;
  }
}

.main-nav__link {
  color: $black;
  font-size: .999rem;
  width: 28%;
  text-decoration: none;
}

.main-nav__link:after {
  border-bottom: 3px solid $dark-green;
  content: "";
  display: block;
  margin: .3em auto 0;
  transition: width 250ms ease-in-out 0s;
  width: 0;
}

.main-nav__link:hover:after {
  transition: width 100ms ease-in-out 0s;
  width: 100%;
}