.home-wrapper{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;

  @media (min-width: 420px) {
    flex-direction: row;
  }

  @media (min-width: $breakpoint-laptop) {
    p {
      width: 40rem;
    }
  }

}

.home__title {
  span {
    display: inline-block;
  }
}

.home__media {
  padding-top: 2rem;
}

.home__link {
  color: rgb(224, 40, 111);
  display: inline-block;
  margin: 2%;
  text-decoration: none;

  @media (min-width: $breakpoint-laptop) {
    &:hover {
      text-decoration: underline;
    }
  }
}
